

.postcontainer{
    padding: 50px 0;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}


.posttitle{
    font-size: 45px;
    text-align: left;
}

.postcontainer p {
    line-height: 1.5em;
    text-align: justify;
}


.postcontainer img:not(.imgfixxpay) {
    
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23);
}

.postcontainer img {
    width: 100%;
}

@media only screen and (max-width: 980px) {

    .postcontainer {
        width: 100%;
    }
    .postcontainer p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .postcontainer h1 {
        padding-left: 20px;
        padding-right: 20px;
    }


    .postcontainer h2 {
        padding-left: 20px;
        padding-right: 20px;
    }


}


